body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#minigame{
  margin: 1em;
  padding: 0.6em;
  border-radius: 1.5em 1.5em 4.5em 1.5em;
  background-color: #202020;
}
#minigame-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 800px;
  border-radius: 1.5em 1.5em 4em 1.5em;
  background-color: #E0E1DC;  
}

/* ##___Screen */
#minigame-screen{
  box-sizing: border-box;
  border: 0.3em solid #202020;
  background-color: #404040;
  border-radius: 1em 1em 3em 1em;
  padding: 2em 3em;
  margin:2em 1.4em 0.5em 1.4em;
}
#screen{
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #95A083;
  border-radius:1em;
  border: 0.2em solid #202020;
  height: 300px;
  width: 300px;
  box-shadow:inset 2px -2px 3px #a5b193, inset -7px 7px 1px #69715c;
}

#gameCanvas{
  border-radius:1em;
  height: 300px;
  width: 300px;
}
/* ##___Screen */

#minigame-name{
  width: 100%;
}
.minigame-name-text{
  padding:0.15em 1.4em;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align:left;
  color: #2a42a3;
}

/* ##___BUTTONS */

#btn-group{
  display: flex;
  flex-direction:column;
  width: 100%;
  padding:2em 1.4em 0 1.4em;
  box-sizing: border-box;
}
#btn-masters{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0.4em 0.4em 0 0.4em;
}
.btn-masters-borders{
  background-color: #e8e9e6;
  padding: 0.15em;
  transform: rotate(-30deg);
  border-radius: 1em;
  border:0.1em solid #afafaf;
}
.btn-masters-item{
  padding: 0 2px;
  margin: 2px;
  width: 65px;
  border: 0.2em solid #303030;
  border-radius: 1em;
  background-color:#8f8f8f;
  box-sizing: border-box;
  
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #f5f5f5;
}
.btn-masters-item:active{
  box-shadow: inset -3px 6px 2px #232323;
  border: 0.2em solid #232323;
  background-color:#545454;
  color: #d2d2d2;
}


#btn-gamecontrols{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.btn-svg{
  transform: translate(calc(145px / 2 - 20px), calc(145px / 2 - 20px));
  width: 40px;
  height: 40px;

}
.btn-svg-rect{
  width: 40px;
  height: 40px;
  fill: #353535;
}
.btn-svg-circle{
  width: 40px;
  height: 40px;
  fill: #757575;
  r:10;
  cx:20;
  cy:20;
}

#btn-directions{
  width: 145px;
  height: 145px;
  align-self: center;
  padding: 0.4em;
  border-radius: 50%;
  border: 0.15em solid #afafaf;
  background-image:
    linear-gradient(#e9eae6, #e9eae6),
    linear-gradient(210deg, #b8b9b6, #ffffff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.btn-directions-item{
  width: 40px;
  height: 45px;
  padding: 0 0 15px 0;
  border: 0.15em solid #202020;
  border-bottom: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #353535;
  font-size: 25px;
  text-align: center;
  color: #757575;
}
.btn-directions-item:active{
  color: #5d5d5d;
  background-color: #272727;
}
.btn-directions-item:nth-child(2){
  transform: rotate(0deg) translate(8.5px, -5px);
  box-shadow:inset -1px 3px 1px #4b4b4b;
}
.btn-directions-item:nth-child(3){
  transform: rotate(90deg) translate(36.5px, -6px);
  box-shadow:inset 3px 1px 1px #4b4b4b, inset -1px 0px 1px #232323;
}
.btn-directions-item:nth-child(4){
  transform: rotate(180deg) translate(-52.5px, -33px);
  box-shadow:inset -1px 2px 1px #232323;
}
.btn-directions-item:nth-child(5){
  transform: rotate(270deg) translate(8.5px, -33.5px);
  box-shadow:inset 1px 1px 1px #232323, inset -3px 0px 1px #4b4b4b;
}
.btn-directions-item:nth-child(2):active{
  box-shadow:inset -1px 20px 4px #232323, inset 0px -6px 7px #4b4b4b;
}
.btn-directions-item:nth-child(3):active{
  box-shadow:inset 1px 20px 2px #232323, inset 0px -6px 7px #4b4b4b;
}
.btn-directions-item:nth-child(4):active{
  box-shadow:inset 1px 20px 4px #232323, inset 0px -6px 7px #4b4b4b;
}
.btn-directions-item:nth-child(5):active{
  box-shadow:inset 1px 20px 2px #232323, inset 0px -6px 7px #4b4b4b;
}

#btn-actions{
  align-self: center;
  transform: rotate(155deg);
  padding: 0.4em;
  border-radius: 40px;
  border: 0.15em solid #afafaf;
  background-image:
    linear-gradient(#e9eae6, #e9eae6),
    linear-gradient(30deg, #b8b9b6, #ffffff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.btn-actions-item{
  transform: rotate(205deg);
  width: 55px;
  height: 55px;
  margin:5px;
  background-color:#ae1313;
  border-radius: 50%;
  border: 0.15em solid #3b0808;
  box-shadow:inset 1px -2px 2px #510b0b, inset -1px 4px 1px #e8a0a0;
  
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color:#ffc3c3;
}

.btn-actions-item:active{
  background-color:#8c1313;
  box-shadow:inset 1px -10px 2px #510b0b, inset -1px 1px 1px #e8a0a0;
  
}
/* ##___BUTTONS */

/* ##___BOTTON DECORATION */

#botton-decoration{
  width: 100%;
}
.botton-right-corner{
  position: relative;
}
.botton-right-corner.triangle{
  position: absolute;
  right:0;
  bottom: -93px;
  box-sizing: border-box;
  width: 160px;
  height: 90px;
  border-right: solid 70px #c9cac6;
  border-bottom: solid 65px #c9cac6;
  border-bottom-right-radius: 65px;
  border-top: solid 40px transparent;
  border-left: solid 120px transparent;
}
.botton-right-corner.sound-stripes{
  position:absolute;
  display: flex;
  transform: rotate(-30deg) translate(-65px, -95px);
}
.stripes-item{
  background-color: #404040;
  height: 70px;
  width: 10px;
  margin: 7.5px;
  border-radius: 10px;
  box-shadow:inset 1px -1px 1px #9b9a9a, inset -3px 3px 1px #171717;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


@media (max-width: 500px){
  #minigame{
    border-radius: 1.6em 1.6em 3.5em 1.6em;
  }
  #minigame-body{
    width: 390px;
    height: 693px;
  }
  #minigame-screen{
    border-radius: 1em 1em 3em 1em;
    padding: 1.8em 2.6em;
  }
  #screen{
    height: 260px;
    width: 260px;
  }
  #gameCanvas{
    height: 260px;
    width: 260px;
  }
  .minigame-name-text{
    font-size: 16px;
  }
  #btn-masters{
    height: 43px;
  }
  .btn-masters-item{
    padding: 0 2px;
    margin: 2px;
    width: 55px;

    font-size: 12px;
  }
  #btn-gamecontrols{
    padding: 8.5px;
  }
  .btn-svg{
    transform: translate(calc(120px / 2 - 16px), calc(120px / 2 - 16px));
    width: 32px;
    height: 32px;
  }
  .btn-svg-rect{
    width: 32px;
    height: 32px;
  }
  .btn-svg-circle{
    width: 32px;
    height: 32px;
    r:10;
    cx:16;
    cy:16;
  }
  
  #btn-directions{
    width: 120px;
    height: 120px;
    padding: 0.3em;
  }
  .btn-directions-item{
    width: 32px;
    height: 38px;
    font-size: 22px;
  }
  .btn-directions-item:nth-child(2){
    transform: rotate(0deg) translate(8px, -2px);
    box-shadow:inset -1px 2px 1px #4b4b4b;
  }
  .btn-directions-item:nth-child(3){
    transform: rotate(90deg) translate(32px, -5px);
    box-shadow:inset 2px 1px 1px #4b4b4b, inset -1px 0px 1px #232323;
  }
  .btn-directions-item:nth-child(4){
    transform: rotate(180deg) translate(-44px, -28px);
    box-shadow:inset -1px 1px 1px #232323;
  }
  .btn-directions-item:nth-child(5){
    transform: rotate(270deg) translate(6px, -27px);
    box-shadow:inset 1px 1px 1px #232323, inset -2px 0px 1px #4b4b4b;
  }
  #btn-actions{
    padding: 0.3em;
  }
  .btn-actions-item{
    width: 47.5px;
    height: 47.5px;
    margin:4.25px;
    font-size: 16px;
  }
  .botton-right-corner.triangle{
    right:0;
    bottom: -73px;
    border-right: solid 60px #c9cac6;
    border-bottom: solid 55px #c9cac6;
    border-bottom-right-radius: 55px;
    border-top: solid 35px transparent;
    border-left: solid 100px transparent;
  }
  .botton-right-corner.sound-stripes{
    
    transform: rotate(-30deg) translate(-60px, -85px);
  }
  .stripes-item{
    height: 60px;
    width: 8px;
    margin: 7.5px;
    border-radius: 10px;
    box-shadow:inset 1px -1px 1px #9b9a9a, inset -3px 3px 1px #171717;
  }
}
/* 0.769% */
@media (max-width: 390px){
  #minigame{
    padding: 0.4em;
    border-radius: 0.7em 0.7em 2.8em 0.7em;
  }
  #minigame-body{
    width: 300px;
    height: 533px;
    border-radius: 0.7em 0.7em 2.8em 0.7em;
  }
  #minigame-screen{
    border-radius: 1em 1em 3em 1em;
    padding: 1.4em 2em;
    margin:1.2em 1.4em 0.5em 1.4em;
  }
  #screen{
    height: 200px;
    width: 200px;
  }
  #gameCanvas{
    height: 200px;
    width: 200px;
  }
  .minigame-name-text{
    font-size: 14px;
  }
  #btn-group{
    padding:1.5em 1em 0 1em;
  }
  #btn-masters{
    height: 35px;
  }
  .btn-masters-borders{
    padding: 0.05em;
  }
  .btn-masters-item{
    padding: 0 2px;
    margin: 1.5px;
    width: 44px;

    font-size: 10px;
  }
  #btn-gamecontrols{
    padding: 1px;
  }
  .btn-svg{
    transform: translate(calc(100px / 2 - 14px), calc(100px / 2 - 14px));
    width: 28px;
    height: 28px;
  }
  .btn-svg-rect{
    width: 28px;
    height: 28px;
  }
  .btn-svg-circle{
    width: 26px;
    height: 26px;
    r:10;
    cx:14;
    cy:14;
  }
  
  #btn-directions{
    width: 100px;
    height: 100px;
    padding: 0.2em;
  }
  .btn-directions-item{
    width: 29px;
    height: 30px;
    font-size: 20px;
  }
  .btn-directions-item:nth-child(2){
    transform: rotate(0deg) translate(3.5px, -1px);
    box-shadow:inset -1px 2px 1px #4b4b4b;
  }
  .btn-directions-item:nth-child(3){
    transform: rotate(90deg) translate(28px, 0.5px);
    box-shadow:inset 2px 1px 1px #4b4b4b, inset -1px 0px 1px #232323;
  }
  .btn-directions-item:nth-child(4){
    transform: rotate(180deg) translate(-36px, -27px);
    box-shadow:inset -1px 1px 1px #232323;
  }
  .btn-directions-item:nth-child(5){
    transform: rotate(270deg) translate(2.5px, -26px);
    box-shadow:inset 1px 1px 1px #232323, inset -2px 0px 1px #4b4b4b;
  }
  #btn-actions{
    padding: 0.2em;
  }
  .btn-actions-item{
    width: 36.5px;
    height: 36.5px;
    margin:4.25px;
    font-size: 14px;
  }
  .botton-right-corner.triangle{
    width: 80px;
    height: 40px;
    right:0;
    bottom: -55px;
    border-right: solid 40px #c9cac6;
    border-bottom: solid 36px #c9cac6;
    border-bottom-right-radius: 36px;
    border-top: solid 22px transparent;
    border-left: solid 67px transparent;
  }
  .botton-right-corner.sound-stripes{
    
    transform: rotate(-30deg) translate(-40px, -58px);
  }
  .stripes-item{
    height: 40px;
    width: 5.5px;
    margin: 5px;
    border-radius: 10px;
    box-shadow:inset 1px -1px 1px #9b9a9a, inset -1px 1px 1px #171717;
  }
}